body {
  background-color: #FBF6F0;
  color: #333;
  margin: 33px;
  /* font-family: verdana, arial, helvetica, sans-serif; */
  font-family: "ヒラギノ丸ゴ ProN W4", sans-serif;
  /* font-family: "筑紫B丸ゴシック", sans-serif; */
  font-size: 13px;
  line-height: 18px;
  min-height: 100%
}

a {
  color: #000;
}

p.login {
  text-align: right;
  margin: 10px 20px;
}

.field, .actions {
    margin-bottom: 20px;
}

#notice {
  color: green;
  padding-left: 50px;
}

.field_with_errors {
  padding: 5px;
  background-color: red;
  display: table;
  margin-right: 20px;
}

#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px 7px 0;
  background-color: #f0f0f0;
  margin-right: 20px;
}
#error_explanation h2{
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
}

#error_explanation ul li {
    font-size: 12px;
    list-style: square;
    text-align: left;
    padding-top: 5px;
  }


h1{
  text-align: center;
  margin: 10px 30px 30px 30px;
  border-bottom: 5px solid #AEE6E6;
  width: 300px;
}

/* table{
  max-width: 900px;
} */

table {
  border-collapse: collapse;
}

th{
  background-color: #FFDA77;
  height: 50px;
  text-align: center;
  padding: 20px;
  border: solid 2px #FFDA77;
}

td {
  height: 40px;
  padding: 10px 20px;
  border: dashed 2px #FFDA77;
}

form{
  padding: 20px 50px;
}

.show_area{
  padding: 20px 50px;
}

.bottom_link{
  padding: 0 50px;
}

.label-default{
  font-size: 1.2rem;
  background: #FFA45B;
  color: rgb(80, 80, 80);
}
/*---------------------ページネーション自体のデザイン*/

.pagination>li>a {          
  border: none;     /*枠線をなくす*/
  color: #333;
  background-color: #FBF6F0;
  border-radius: 15px;     /*角を丸くする*/
}
.pagination>.disabled>a {          
  background-color: #FBF6F0;
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {     
  background: #FFA45B;     /*背景の色を変える*/
  border-radius: 15px;     /*角を丸くする*/
  color: rgb(88, 88, 88);


}
.pagination>.active>a:hover {     
  background: #FFA45B;     /*背景の色を変える*/
  border-radius: 15px;     /*角を丸くする*/
  color: #333;

}

/*ホバー時のデザイン*/
.pagination>li>a:hover {        
  border-radius: 15px;    /*角を丸くする*/
  background: #FFA45B;     /*背景の色を変える*/
  opacity: 0.3;
  color: #333;
}

.pagination>li:last-child>a, .pagination>li:last-child>span {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  }
.pagination>li:first-child>a, .pagination>li:first-child>span {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  }


/*------------------------ ヘッダー */

.nav {
  display: flex;
  justify-content: flex-end!important;
}


.nav-item:first-child{
  margin-right: auto;
  font-size: 1.5rem;
}


/* --------------------------------- */
.nav-item{
  position: relative;
  z-index: 1;
  cursor: pointer;
}
.nav-item::after{
  content:"";
  width: 0%;    /*最初はwidth:0にする*/
  height: 8px;
  background: #ffb580;
  position: absolute;
  bottom: -4px;
  left: 0;
  z-index: -1;
  transition: all .3s;  /*アニメーションの長さ*/
}	
.nav-item:hover::after{
  width: 100%;    /*hover時に100%で広がる*/
}